.project {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h2 {
  margin: 10px;
  color: #3e497a;
  text-align: center;
}
.project img {
  width: 300px;
  height: 300px;
  height: 30vh;
  border-radius: 10px;
  margin: 20px;
}

.project p {
  font-size: larger;
  color: #3e497a;
  text-align: center;
  line-height: normal;
}

.project a {
  font-size: 24px;
  color: #3e497a;
}

.project a:hover {
  transform: scale(110%);
  transition: all 0.2s linear;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}
